.tierListDiv {
    border: 2px solid $darkgray;
    border-radius: 21px;
    width: 100%;
    align-self: center;
    margin-top: 2rem;

    h3 {
        font-weight: bold;
        align-self: center;
    }

    hr {
        border: 1px $white solid;
        margin-top: -0.5rem;
    }

    &:last-child {
        margin-bottom: 20vh;
    }
}

.jumpLinks {
    display: flex;
    position: sticky;
    top: 0px;
    width: 100%;
    margin-top: 1rem;
    height: 6rem;
    background-color: $lightblack;
    justify-content: center;

    h4 {
        align-self: center;
    }

    a {
        color: $gold;

        &:hover {
            border-bottom: 4px $gold dotted;
            text-decoration: none;
        }
    }
}

.tierLetters {
    h2 {
        color: $gold;
        font-weight: bolder;
        font-size: 2rem;
    }
}

.godIcon {
    width: 72px;
    margin: 0.4rem 0.6rem;
    height: auto;
    border: 2px $white solid;
    border-radius: 50%;
}

.tierDiv {
    border-right: 1px $white solid;
    width: 33.33%;
    
    &:last-child {
        border-right: none;
    }
}

.anchor{
    display: block;
    height: 35vh; /* 50% viewport height */
    margin-top: -35vh;
    visibility: hidden;
}