# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
smitearific_web_app/node_modules
smitearific_web_app/.pnp
smitearific_web_app/.pnp.js

# testing
smitearific_web_app/coverage

# next.js
smitearific_web_app/.next/
smitearific_web_app/out/

# production
smitearific_web_app/build

# misc
.DS_Store
*.pem

# debug
smitearific_web_app/npm-debug.log*
smitearific_web_app/yarn-debug.log*
smitearific_web_app/yarn-error.log*

# local env files
smitearific_web_app/.env.local
smitearific_web_app/.env.development.local
smitearific_web_app/.env.test.local
smitearific_web_app/.env.production.local

# vercel
smitearific_web_app/.vercel

# vscode
smitearific_web_app/.vscode/
smitearific_api/.vscode/

#env and spring
smitearific_api/info/src/main/resources/application-dev.properties
smitearific_api/stats/src/main/resources/application-dev.properties
smitearific_api/.env
