// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 1rem;
$font-weight-bolder: 900;
$line-height-base: 1.5;

// Colors
$white: #FFFFFF; 
$gray: #C7C6C4;
$darkgray: #707070;
$yellow: #FDB930;
$orange: #FFAB00;
$gold: #BF9B30;
$blue: #084073;
$darkblue: #002D56;
$darkestblue: #00162b;
$black: #15171C;
$lightblack: #20232A;
$darkblack: #111214;

// Links
$link-decoration: none !default;
$link-hover-decoration: underline !default;
